*{
    margin: 0px;
    padding: 0px;
    outline: none;
}

.main{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: red;
    height: 50vh;
}

.track-listing{
    background-color: aqua;
    height: 100vh;
}

.controls-container{
    background-color: gold;
    position: fixed;
    top: 90vh;
    width: 100%;
    height: 10vh;
}
.controls{
    display: flex;
    flex-direction: row;
}
