*{
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}

body{
    background-color: black;
    /* border: 10px solid black; */
}

.main{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

.hero{
    /* pick color from album art for bg */
    background-image: linear-gradient(0deg,#740e12, #e61b23);
    padding: 40px 0px 30px 30px;
}

.hero-container{
    display: flex;
    flex-direction: row;
    align-items:end
}

.hero .album-cover-art{
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin-right: 25px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.hero h1{
    font-weight: 900;
    font-size: 4rem;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.9);
}

.album-info-row li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 1rem;
}

.album-info-row .light{
    color: rgba(255, 255, 255, 0.5);
}



.track-listing{
    background-image: radial-gradient(
        100% 30% at top,
        #5b0b0e 0%, 
        #0e0e0e 100%
    );
    height: 100vh;
    padding: 30px;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 20vh;
}

.track-listing table{
    width: 100%;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.8);
}

.track-listing td, th{
    text-align: left;
    padding: 20px 10px 20px 10px;
}

.track-listing th:last-child{
    padding-left: 20px;
}

.track-listing tr:not(:first-child):hover{
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.2s ease-out;
    border-radius: 15px;
}

.track-listing tr:first-child{
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
}
/* change to 10% on mobile */
.track-listing td:first-child{width: 3%;}
.track-listing td:nth-child(2){width: 87%;}
.track-listing td:last-child{width: 10%;}

/* highlight currently playing song */
/* .track-listing tr.playing p{
    color: black;
} */




.controls-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.controls{
    background-color: black;
    position: fixed;
    top: 85vh;
    width: 100%;
    height: 15vh;
    padding: 0px 2vw 0px 2vw;
    /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
}

.current-song-info{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    height: 15vh;
}

.current-song-info .album-cover-art{
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    background-color: white;
    margin-right: 15px ;
    font-size:8px ;
}

.current-song-info .current-song-title{
    color: rgba(255, 255, 255, 0.8);
}

.current-song-info .current-artist{
    color: rgba(255, 255, 255, 0.5);
    font-size: smaller;
}

.current-song-info .text-info{
    margin-right: 15px;
}

.btn{
    background-color: none;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    color: rgba(255, 255, 255, 1);
}

#play{
    background-color: white;
    background: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: black;
    font-size: 16px;
}

.music-controls{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.music-controls .btn{
    margin-right:25px ;
}

.time-info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: smaller;
    
}

.progress-bar{
    width: 400px;
    height: 4px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px 15px 0px 15px;
}

.progress{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.3s ease;
}

.volume{
    width: 20%;
}

#volume-btn{
    padding-left: 50%;
}
